<footer>
    
<div id="site-footer">

    <div id="colophon">
        <ul>
            <li>Copyright &copy; Jeff Porter 2012–{{ config.extra.copyright | replace(from="{year}", to=now() | date(format="%Y")) }}</li>
            <li><a href="/about-this-site">About this site</a></li>
            <li><a href="/colophon">Colophon</a></li>
        </ul>
    </div> <!-- colophon -->

    <div id="promotion">
        <ul class="social">
            <li><a href="https://mastodon.social/@macminded"><img src="/img/brand-mastodon.png" width="28" height="28"></a></li>
            <li>
                <a href="https://bsky.app/profile/macminded.co.uk"><img src="/img/brand-bluesky.png" width="28" height="28"></a>
            </li>
            <li>
                <a href="/atom.xml"><img src="/img/rss.png" width="28" height="28"></a>
            </li>
            <!-- <li>
                <a href="https://www.buymeacoffee.com/jeffpporteD">
                    <img src="/img/black-button.png" alt="Buy me a coffee" width="131">
                </a>
            -->
            </li>
        </ul>
    </div> <!-- promotion -->
</div> <!-- site-footer -->
    <p><img src="/img/noun-leaf-1006638.png" width="14" height="14" alt="leaf"> Written by a human<img src="/img/noun-leaf-1006638.png" width="14" height="14" alt="leaf"></p>

</footer>