+++
title = "What to do if a session expires while you’re setting up Apple ID’s two-step verification"
description = "To set up Apple ID’s two-step verification successfully it’s best to do it in one sitting. Or shit happens…"
date = 2013-04-05
[taxonomies]
tags = ["Apple", "ID"]
+++

This morning I enabled two-step verification on my Apple ID. It didn’t go as smoothly as I’d expected.

The following is not a tutorial on how to set up two-step authentication for your Apple ID. If you want one of those, read [‘Protecting your Apple ID with two-step verification’](http://mac.tutsplus.com/tutorials/security/protecting-your-apple-id-with-two-step-verification/) on MacTuts+.

Instead, this describes a scenario where you find yourself in no man’s land, seemingly neither verified nor unverified, because a session expires part way through setting up two-step verification.

### An edge case?

I suspect not.

In my case, the process started over a week ago. Then this morning I received an email confirming I could now set up two-step verification for my Apple ID. I vaguely remember reading that I’d have to wait three days, so I guess the queue was longer than Apple expected.

Anyway, I logged in to my Apple ID and made a start.

When I reached the ‘Verify devices’ screen, there were two options – my iPhone and my iPad. I had my iPhone to hand, so I clicked ‘Verify’ and passed in the code sent by Apple. I did the same again to use the iPhone for SMS verification. While I was at it, I thought it would be a good idea to verify the iPad. I went off to find where my wife had left it last night. When I got back to my computer the screen read ‘Session expired’.

I logged in again. It looked like the process had completed. I hunted around for the option to ‘add a device’, but couldn’t find it. Clicking on the ‘Password and Security’ tab on the ‘My Apple ID’ page told me I needed to set two security questions. The other words and links on this page did not match those described in [Apple’s FAQ on two-step authentication](http://support.apple.com/kb/HT5570). For instance, there was no ‘Two-Step Verification’ option, with ‘Get Started’ below. This suggested that I was already verified.

I hunted around some more. Nowhere could I find an option to manage devices. I tried a few Google searches but kept returning to the same links and help pages. Hold on a minute, I thought, where’s my Recovery Key? Does Apple send it by email? It seems not. If I’d read the MacTuts+ tutorial beforehand I would have known this. But it would’t have prepared me for this scenario anyway.

Eventually, I returned to the ‘Password and Security’ tab. I ignored the request to change my security questions and clicked the link below. I wasn’t hopeful as the wording of the link had nothing to do with two-step authentication, but that’s where it took me.

From there I was able to restart enabling two-step authentication, including verifying my phone for a second time and adding my iPad.

It seems pretty obvious. In this age of instant and virtually nonstop communications we are interrupted at every turn. Sessions are going to expire, even important security related sessions. Apple should have a system in place to allow users to return to the point where they left off or, at the very least, clear directions in the FAQ that describe how to start over.

### Important points to remember

The Apple ID FAQ should explain what to do in the event a session expires. It doesn’t, so until that day here’s my advice:

* Have at least one of the devices you plan to use as a means of verification to hand before you start. 
* When you start the process of enabling two-step verification, follow it through to the end in one sitting. That process does not end until your Recovery Key is displayed on screen (make a note), you have verified the recovery key (next screen) and confirmed you want to enable two-step verification.
* At no point during the process should you step away from your computer. For example, if you plan to have more than one device enabled but only have one to hand when you start the process, forget the others. If you’re suddenly overcome by an overwhelming desire for a cup of coffee, control that urge. Complete the process with the first device. It’s easy to add other devices some other time, but only if you complete the process with the first one. 
* Don’t allow anything to distract you from the task at hand.

The headline, by the way, is quite likely the longest you will ever read on this blog.