@font-face {
    font-family: alegreya;
    src: url('/fonts/alegreya-regular.ttf') format('woff2'),
         url('/fonts/alegreya-regular.ttf') format('woff');
  }
  
  @font-face {
    font-family: alegreya;
    src: url('/fonts/alegreya-italic.ttf') format('woff2'),
         url('/fonts/alegreya-italic.ttf') format('woff');
    font-style: italic;
  }
  
  @font-face {
    font-family: alegreya;
    src: url('/fonts/alegreya-bold.ttf') format('woff2'),
         url('/fonts/alegreya-bold.ttf') format('woff');
    font-weight: 700;
  }
  
  @font-face {
    font-family: alegreya;
    src: url('/fonts/alegreya-bolditalic.ttf') format('woff2'),
         url('/fonts/alegreya-bolditalic.ttf') format('woff');
    font-weight: 700;
  }

  @font-face {
    font-family: alegreyasans;
  src: url('/fonts/alegreyasans-regular.ttf') format('woff2'),
       url('/fonts/alegreyasans-regular.ttf') format('woff');
}

@font-face {
  font-family: alegreyasans;
  src: url('/fonts/alegreyasans-italic.ttf') format('woff2'),
       url('/fonts/alegreyasans-italic.ttf') format('woff');
  font-style: italic;
}

@font-face {
  font-family: alegreyasans;
  src: url('/fonts/alegreyasans-bold.ttf') format('woff2'),
       url('//fonts/alegreyasans-bold.ttf') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: alegreyasans;
  src: url('/fonts/alegreyasans-bolditalic.ttf') format('woff2'),
       url('/fonts/alegreyasans-bolditalic.ttf') format('woff');
  font-weight: 700;
  font-style: italic;
}
