@font-face {
    font-family: fontin;
    src: url('/fonts/fontin-regular.ttf') format('woff2'),
         url('/fonts/fontin-regular.ttf') format('woff');
  }
  
  @font-face {
    font-family: fontin;
    src: url('/fonts/fontin-bold.ttf') format('woff2'),
         url('/fonts/fontin-bold.ttf') format('woff');
    font-weight: 700;
  }
  
  @font-face {
    font-family: fontin;
    src: url('/fonts/fontin-italic.ttf') format('woff2'),
         url('/fonts/fontin-italic.ttf') format('woff');
    font-style: italic;
  }
  
  @font-face {
    font-family: fontin-sans;
  src: url('/fonts/fontin_sans_R_45b.otf') format('woff2'),
       url('/fonts/fontin_sans_R_45b.otf') format('woff');
}

@font-face {
  font-family: fontin-sans;
  src: url('/fonts/fontin_sans_B_45b.otf') format('woff2'),
       url('/fonts/fontin_sans_B_45b.oft') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: fontin-sans;
  src: url('/fonts/fontin_sans_I_45b.otf') format('woff2'),
       url('/fonts/fontin_sans_I_45b.otf') format('woff');
  font-style: italic;
}

@font-face {
  font-family: fontin-sans;
  src: url('/fonts/fontin_sans_BI_45b.otf') format('woff2'),
       url('/fonts/fontin_sans_BI_45b.otf') format('woff');
  font-weight: 700;
  font-style: italic;
}
