@font-face {
     font-family: Fontin_Sans_49;
     src: url('/fonts/Fontin_Sans_R_45b.oft') format('woff2'),
          url('/fonts/Fontin_Sans_R_45b.otf') format('woff');
      font-style: normal;
   }
   
   @font-face {
     font-family: Fontin_Sans_49;
     src: url('/fonts/Fontin_Sans_I_45b.otf') format('woff2'),
          url('/fonts/Fontin_Sans_I_45b.otf') format('woff');
     font-style: italic;
   }
   
   @font-face {
     font-family: Fontin_Sans_49;
     src: url('/fonts/Font_Sans_B_45Bb.otf') format('woff2'),
          url('/fonts/Fontin_Sans_B_45b.otf') format('woff');
     font-style: normal;
     font-weight: 700;
   }
   
   @font-face {
     font-family: Fontin_Sans_49;
     src: url('/fonts/Fontin_Sans_BI_45b.ttf') format('woff2'),
          url('/fonts/Fontin_Sans_BI_45b.ttf') format('woff');
      font-style: italic;
     font-weight: 700;
   }
      
   @font-face {
     font-family: Fontin;
     src: url('/fonts/Fontin-Regular.ttf') format('woff2'),
          url('/fonts/Fontin-Regular.ttf') format('woff');
      font-style: normal;
   }
   
   @font-face {
     font-family: Fontin;
     src: url('/fonts/Fontin-Italic.ttf') format('woff2'),
          url('/fonts/Fontin-Italic.ttf') format('woff');
     font-style: italic;
   }
   
   @font-face {
     font-family: Fontin;
     src: url('/fonts/Fontin-Bold.ttf') format('woff2'),
          url('/fonts/Fontin-Bold.ttf') format('woff');
     font-style: normal;
     font-weight: 700;
   }