        @font-face {
          font-family: klinicslab;
          src: url('/fonts/klinicslabbook.otf') format('woff2'),
               url('/fonts/klinicslabbook.otf') format('woff');
        }
        
        @font-face {
          font-family: klinicslab;
          src: url('/fonts/klinicslabbookit.otf') format('woff2'),
               url('/fonts/klinicslabbookit.otf') format('woff');
          font-style: italic;
        }
        
        @font-face {
          font-family: klinicslab;
          src: url('/fonts/klinicslabbold.otf') format('woff2'),
               url('/fonts/klinicslabbold.otf') format('woff');
          font-weight: 700;
        }
        
        @font-face {
          font-family: klinicslab;
          src: url('/fonts/klinicslabboldit.otf') format('woff2'),
               url('/fonts/klinicslabboldit.otf') format('woff');
          font-weight: 700;
        }
      
        @font-face {
           font-family: klinicslab;
           src: url('/fonts/klinicslabmedium.otf') format('woff2'),
                url('/fonts/klinicslabmedium.otf') format('woff');
           font-weight: 700;
         }
      
         @font-face {
           font-family: klinicslab;
           src: url('/fonts/klinicslabmediumit.otf') format('woff2'),
                url('/fonts/klinicslabmediumit.otf') format('woff');
           font-weight: 700;
         }
        @font-face {
          font-family: raleway;
          src: url('/fonts/raleway-regular.ttf') format('woff2'),
               url('/fonts/raleway-regular.ttf') format('woff');
        }
        
        @font-face {
          font-family: raleway;
          src: url('/fonts/raleway-italic.ttf') format('woff2'),
               url('/fonts/raleway-italic.ttf') format('woff');
          font-style: italic;
        }
        
        @font-face {
          font-family: raleway;
          src: url('/fonts/raleway-bold.ttf') format('woff2'),
               url('/fonts/raleway-bold.ttf') format('woff');
          font-weight: 700;
        }
        
        @font-face {
          font-family: raleway;
          src: url('/fonts/raleway-bolditalic.ttf') format('woff2'),
               url('/fonts/raleway-bolditalic.ttf') format('woff');
          font-weight: 700;
        }  
@font-face {
    font-family: alegreya;
    src: url('/fonts/alegreya-regular.ttf') format('woff2'),
         url('/fonts/alegreya-regular.ttf') format('woff');
         font-style: regular;
         font-weight: 400;
  }
  
  @font-face {
    font-family: alegreya;
    src: url('/fonts/alegreya-italic.ttf') format('woff2'),
         url('/fonts/alegreya-italic.ttf') format('woff');
        font-style: italic;
        font-weight: 400;   
        }
  
  @font-face {
    font-family: alegreya;
    src: url('/fonts/alegreya-bold.ttf') format('woff2'),
         url('/fonts/alegreya-bold.ttf') format('woff');
    font-weight: 700;
  }
  
  @font-face {
    font-family: alegreya;
    src: url('/fonts/alegreya-bolditalic.ttf') format('woff2'),
         url('/fonts/alegreya-bolditalic.ttf') format('woff');
    font-weight: 700;
  }

  @font-face {
    font-family: alegreyasans;
  src: url('/fonts/alegreyasans-regular.ttf') format('woff2'),
       url('/fonts/alegreyasans-regular.ttf') format('woff');
}

@font-face {
  font-family: alegreyasans;
  src: url('/fonts/alegreyasans-italic.ttf') format('woff2'),
       url('/fonts/alegreyasans-italic.ttf') format('woff');
  font-style: italic;
}

@font-face {
  font-family: alegreyasans;
  src: url('/fonts/alegreyasans-bold.ttf') format('woff2'),
       url('//fonts/alegreyasans-bold.ttf') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: alegreyasans;
  src: url('/fonts/alegreyasans-bolditalic.ttf') format('woff2'),
       url('/fonts/alegreyasans-bolditalic.ttf') format('woff');
  font-weight: 700;
  font-style: italic;
}
