{% extends "base.html" %}

{% block content %}
    
<h1 class="title">404 – Whoops!</h1>

<div class="page-intro">

<p class="larger">Seems what you were looking for isn’t here. Or maybe it’s hiding in one of these places:</p>

<ul>

<li><a href="/journal">Journal</a></li>

<li><a href="/journal/articles">Articles</a></li>

<li><a href="/blog">Blog</a></li>

<li><a href="/journal/stroke">Stroke</a></li>

<li><a href="/journal/watches">Watches</a></li>

</ul>

<p class="larger">Tave a look. You never know what you might find.</p>

</div>

<article>
    <h2 class="featured">What happened in 1964, the year I was born?</h2>

    <p>I hate it when you land on a 404 and get nothing in return. So here is what happened that year, in case you’re interested:</p>

    <ul>
    <li>Nelson Mandela is sentenced to life in prison in South Africa.</li>
    <li>The US Congress authorised war against North Vietnam and Lyndon Johnson returned to power after a landslide victory. He went on to sign the Civil Rights Act and Voting Rights Act into law.</li>
    <li>The Nobel Peace Prize went to Dr Martin Luther King Jr.</li>
    <li>Walt Disney’s musical film <em>Mary Poppins</em>, starring Julie Andrews and Dick Van Dyke, won five Academy Awards.</li>
    <li>The Beatles took the world by storm and Beatlemania went into overdrive as they released a series of number one hits, including <em>I want to hold your hand</em> and <em>All my Loving</em>.</li>
    <li>Other British groups also found success including, The Rolling Stones and The Animals and together with the American talent of The Supremes and Bob Dylan many say this was one of the greatest years for music in the last century.</li>
    <li>Muhammed Ali ditched his former ‘slave name’, Cassius Clay, and became the Boxing World heavyweight champion after beating Sonny Liston.</li>
    </ul>
</article>

{% endblock content %}
