{% extends "base.html" %}

{% block content %}
<article class="post">
  <h1 class="post-title">
    {{ page.title }}
  </h1>
  <p class="post-date"><strong>/// {{ page.date | date(format="%d %B %Y") }}</strong></p>
  <h2 class="post-desc">{{ page.description }}</h2>
  
{% if page.taxonomies.tags %}
tags: 
{% for tag in page.taxonomies.tags %}
<a href='{{ get_taxonomy_url(kind="tags", name=tag) | safe }}'>{{ tag }}</a>
{% endfor %}
{% endif %}
 
{{ page.content | safe }}

 </article>
 
 {% if page.lower or page.higher %}
  <div class="post-nav">
    {% if page.lower %}
      <span>Previous: </span><a class="previous" href="{{ page.lower.permalink }}">‹ {{ page.lower.title }}</a>
    {% endif %}
    {% if page.higher %}
    <span>Next: </span><a class="next" href="{{ page.higher.permalink }}">{{ page.higher.title }} ›</a>
    {% endif %}
  </div>
{% endif %}

{% endblock content %}

