<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ config.title }}</title> 
  
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

  <meta name="description" content="{{ config.description }}">
  
  <meta property="fediverse:creator" content="@wordius@mastodon.social" />

  <link rel="alternate" href="/rss.xml" type="application/rss+xml">

  <link rel="stylesheet" href="/style.css">

</head>

<body>

	<div id="wrapper">

    <header>
		<a style="width:100%;height:auto;" href="/" class="home-link">
			<img src="/img/banner-wordius-white-768-2.png" />
		</a>

      	<nav>
			<ul class="nav">
				<!--<li class="nav-item"><a href="/">home</a></li>-->
				<li class="nav-item"><a href="/journal">journal</a></li>
				<li class="nav-item"><a href="/blog">posts</a></li>
				<li class="nav-item"><a href="/about">about</a></li>					
				<li class="nav-item"><a href="/tags">tags</a></li>
			</ul>
		</nav>
	</header>
    
	<div id="container">

    <main id="content_main">

	{% block content %} 
		{% block title %}
		{{ config.title }} &middot; {{ taxonomy.name | capitalize }} 
		{% endblock title %}

		<h1>{{ taxonomy.name | capitalize }}</h1>
	  
		<ul>
		  {% for page in terms %}
			<li><a href="{{ page.permalink }}">{{ page.name | capitalize }}</a></li>
		  {% endfor %}
		</ul>
	{% endblock content %}

    </main>

	<aside id="content_aside" class="fade-in-image">

		<p>Freelance journalist, editor, and I enjoy experimenting on the web. But, above all, I am human.</p>

        <ul class="slashes">
            <li><a href="/about-this-site">About this site</a></li>
            <li><a href="/blogroll">Blogroll</a></li>
            <li><a href="/colophon">Colophon</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/reading">Reading matter</a></li>
            <li><a href="/rss-feeds">RSS feeds</a></li>
            <li><a href="/uses">Software I use</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

		<ul>
			<li>Made on MacBook Air, stored on GitHub, and hosted on <a href="https://netlify.com">Netlify</a></li>
		</ul>

		<ul>
            <li>&copy; Jeff Porter 2012–{{ config.extra.copyright | replace(from="{year}", to=now() | date(format="%Y")) }}</li>
        </ul>

        <ul class="social">
            <li><a href="https://mastodon.social/@wordius"><img class="naked" src="/img/brand-mastodon.png" width="28" height="28"></a></li>
            <li>
                <a href="https://bsky.app/profile/wordius.com"><img class="naked" src="/img/brand-bluesky.png" width="28" height="28"></a>
            </li>
            <li>
                <a href="https://x.com/wordius"><img class="naked" src="/img/x.png" width="28" height="28"></a>
            </li>
			<li>
                <a href="/rss.xml"><img class="naked" src="/img/rss.png" width="28" height="28"></a>
            </li>

            <!-- <li>
                <a href="https://www.buymeacoffee.com/jeffpporteD">
                    <img src="/img/black-button.png" alt="Buy me a coffee" width="131">
                </a>
            -->
            </li>
        </ul>
	</aside>
    
	</div><!-- container -->

	{% include "partials/footer.html" %}

	</div><!-- wrapper -->

</body>

<script type="text/javascript">
	(function(window, document, dataLayerName, id) {
	window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
	function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString();f="; SameSite=Strict"}document.cookie=a+"="+b+d+f+"; path=/"}
	var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
	var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
	tags.async=!0,tags.src="https://wordius.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
	!function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
	})(window, document, 'dataLayer', 'aff74c9a-a227-4f36-aded-57d2c1f25cef');
	</script>

</html>