{% extends "index.html" %}

{% block content %}
<article class="post">
  <h1 class="post-title">
    {{ page.title }}
  </h1>
  <p class="post-date"><strong>{{ page.date | date(format="%d %B %Y") }}</strong></p>
  <h2 class="post-desc">{{ page.description }}</h2>
   <div class="post-tags">   
    {% if page.taxonomies.tags %}
    tags: 
    {% for tag in page.taxonomies.tags %}
    <a class="post-tag" href='{{ get_taxonomy_url(kind="tags", name=tag) | safe }}'>{{ tag }}</a>
    
    {%- if not loop.last %}
      {{ ", " | safe }}
    {% endif -%}
    
    {% endfor %}
    {% endif %}
  </div> 

  <div class="post-content">
    {{ page.content | safe }}
  </div>

</article>


<!-- {% if page.lower or page.higher %}
  <div class="post-nav">
    {% if page.lower %}
      <p><span class="post-nav-dir">Previous: </span><a class="previous" href="{{ page.lower.permalink }}">&lsaquo; {{ page.lower.title }}</a></p>
    {% endif %}
    {% if page.higher %}
      <p><span class="post-nav-dir">Next: </span><a class="next" href="{{ page.higher.permalink }}">{{ page.higher.title }} &rsaquo;</a></p>
    {% endif %}
  </div>
{% endif %}
-->
{% endblock content %}

