{% extends "base.html" %}

{% block content %}
<article class="post">
  <h1 class="title">
    {{ section.title }}
  </h1>
  <ul>
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
    {% for page in section.pages %}
    <li>
      <p><time datetime="{{ page.date }}">{{ page.date | date(format="%d %B %Y") }}</time></p>

      <h2>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </h2>
        <p>{{ page.description }}</p>
    </li>
    {% endfor %}
  </ul>
</article>
<nav class="pagination">
  {% if paginator.previous %}
      <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
  {% endif %}
  {% if paginator.next %}
      <a class="next" href="{{ paginator.next }}">Next ›</a>
  {% endif %}
</nav>
{% endblock content %}