{% extends "base.html" %}

{% block content %}
<article class="post">
  <h1 class="title">
    {{ section.title }}
  </h1>
  <ul>
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
    {% for page in section.pages %}
    <li>
      <p><time datetime="{{ page.date }}">{{ page.date | date(format="%d %B %Y") }}</time></p>

      <h2>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </h2>
        <p>{{ page.description }}</p>
    </li>
    {% endfor %}
  </ul>
</article>

<!-- PAGINATOR -->
{% if paginator %}
<div>
  <ul class="postlist">
    {% for post in paginator.pages %}
    <li class="postlist-item">
      <div class="date>">
        <time class="postlist-date">{{ post.date | date(format="%d %B %Y") }}</time>
      </div>
      <div class="home-head">
         <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
      </div>
      <p>{{ post.description }}</p>
    </li>
    {% endfor %}
  </ul> 

</div>
{% endif %}
{% if paginator.previous %}
  <a href="{{ paginator.previous }}">&lt;</a>
{% else %}
  &lt;
{% endif %}
<span>{{ paginator.current_index }}</span>
{% if paginator.next %}
  <a href="{{ paginator.next }}">&gt;</a>
{% else %}
  &gt;
{% endif %}
<!-- END PAGINATOR -->

{% endblock content %}

